name: Generate Profile 3D

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: yoshi389111/github-profile-3d-contrib@0.7.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USERNAME: ${{ github.repository_owner }}
          SETTING_JSON: profile-3d-contrib/settings.json

      - run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add profile-3d-contrib/profile-customize.svg
          git commit -m "Generate 3D contribution graph" || echo "No changes"
          git push
